
.wrapper {
	margin-top: 26px;
	width: 100%;
	position: relative;
	border-radius: 16px;
	overflow: hidden;

	.header {
		width: 100%;
		position: relative;
		display: flex;

		.light_blue {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 16px;
			color: #0028A3;
			font-size: 10px;
			// background-color: red;
			background-color: #F3F6FF;
			border-top-right-radius: 16px;
			z-index: 10;
		}

		.light_orange {
			background-color: #FFF7ED;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 16px;
			color: #5D5F62;
			font-size: 10px;
			border-top-right-radius: 16px;
			transform: translateX(-10px);
			z-index: -1;
		}
	}

	.main_container {
		width: 100%;
		border-radius: 16px;
		background-color: #fff;

		.main_content {
			width: 100%;
			padding: 18px 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.ribbon {
				position: absolute;
				background-color: #0028A3;
				transform: rotate(-45deg);
				color: #fff;
				left: -20px;
				top: 20px;
				width: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 8px;
			}

			.pricing {
				display: flex;
				align-items: center;
				gap: 20px;

				.idv_label {
					font-size: 14px;
					color: #6B7280;
					text-align: right;
				}

				.idv_value {
					font-size: 14px;
					color: #000C19;
					font-weight: 600;
				}

				button {
					background-color: #0028A3;
					padding: 12px 56px;
					font-size: 16px;
					font-weight: 700;
					color: #fff;
					border-radius: 8px;
					cursor: pointer;
				}
			}
		}

		.details {
			margin-top: 10px;
			padding: 14px 10px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.addons {
				display: flex;
				align-items: center;
				gap: 12px;
				color: #0028A3;
				font-size: 16px;
				font-weight: 600;

				.addon_item {
					display: flex;
					align-items: center;
					gap: 2px;
					cursor: pointer;
				}
			}

			.stats {
				display: flex;
				align-items: center;
				gap: 10px;

				.stat_item {
					display: flex;
					align-items: center;
					gap: 8px;

					.stat_label {
						color: #6B7280;
						font-size: 14px;
						font-weight: 400;
					}

					.stat_value {
						color: #0028A3;
						font-size: 14px;
						font-weight: 400;
					}
				}
			}
		}
	}
}