<div class="wrapper">
  <div class="vehicle_details">
    <div class="details">
      <div class="vehicle_name">Honda Activa 3G STD (58 CC )</div>
      <div class="vehicle_type">Petrol Two Wheeler RJ14 Jaipur</div>

      <div class="number">PIBLMTRTW2025022012540788123</div>
    </div>

    <div class="edit_btn">
      <mat-icon>edit</mat-icon>
      Edit
    </div>
  </div>

  <div class="ctas">
    <button class="cta">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 48 48"
      >
        <g
          fill="none"
          stroke="currentColor"
          stroke-linejoin="round"
          stroke-width="4"
        >
          <path
            stroke-linecap="round"
            d="M24 6C14.059 6 6 14.059 6 24s8.059 18 18 18s18-8.059 18-18"
          />
          <path
            stroke-linecap="round"
            d="M24 15a9 9 0 1 0 9 9m-9 0l6.3-6.306"
          />
          <path d="M30.3 11.426V17.7h6.325L42 12.3h-6.297V6z" />
        </g>
      </svg>

      <div>Know My Current Contest</div>
    </button>

    <button class="cta">
      <mat-icon>info</mat-icon>

      <div>Raise Query</div>
    </button>

    <button class="compare_cta">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 48 48"
      >
        <defs>
          <mask id="ipSAdd0">
            <g fill="none" stroke-linejoin="round" stroke-width="4">
              <rect
                width="36"
                height="36"
                x="6"
                y="6"
                fill="#fff"
                stroke="#fff"
                rx="3"
              />
              <path
                stroke="#000"
                stroke-linecap="round"
                d="M24 16v16m-8-8h16"
              />
            </g>
          </mask>
        </defs>
        <path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSAdd0)" />
      </svg>

      <div>Compare</div>
    </button>
  </div>
</div>

<!-- <mat-icon>edit</mat-icon> -->
