.wrapper {
	width: 100%;
	border: 1px solid #0000000D;
	border-radius: 14px;
	margin-top: 42px;
	overflow: hidden;

	.title {
		color: #0028A3;
		background-color: #08468305;
		padding: 16px;
		font-size: 18px;
		font-weight: 600;
	}

	.options {
		background-color: #fff;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		width: 100%;
		padding: 8px 16px;

		.policy_type {
			width: 100%;

			h1 {
				font-size: 18px;
				font-weight: 500;
				margin-bottom: 16px;
			}

			.inputs {
				display: flex;
				flex-direction: column;
				gap: 16px;
				align-items: flex-start;
			}
		}

		.features_block {
			padding: 10px;
			border: 1px solid #E5E7EB;
			border-radius: 8px;
			width: 100%;

			.header {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				cursor: pointer;

				h1 {
					color: #0028A3;
					font-size: 16px;
					font-weight: 600;
				}
			}
		}

		.idv {
			.radioInputs {
				margin-top: 16px;
				display: flex;
				flex-direction: column;
				gap: 16px;
				align-items: flex-start;
			}

			.range {
				margin-top: 14px;
				
				label {
					font-size: 12px;
					font-weight: 500;
					margin-bottom: 18px;
					display: block;
				}

				input {
					width: 100%;
					cursor: pointer;
					margin-bottom: 18px;
				}
			}

			.vals {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.value {
					border: 1px solid #08468366;
					color: #0028A3;
					padding: 7px;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 4px;
					font-size: 11px;
				}

				.min_max {
					font-size: 10px;
					color: #4B5563;
				}
			}
		}

		button {
			width: 100%;
			padding: 12px 0;
			background-color: #0028A3;
			color: #fff;
			font-size: 20px;
			font-weight: 600;
			border-radius: 8px;
			cursor: pointer;
		}
	}
}