<div class="wrapper">
  <div>
    <input type="checkbox" name="options" value="option1" id="option1" />
    <label for="option1"> I need a mandatory PA Owner Driver Cover </label>
  </div>
  <label>
    <input type="checkbox" name="options" value="option2" /> Show Activity
    Points
  </label>
  <label>
    <input type="checkbox" name="options" value="option3" /> Unlimited Claims
  </label>

  <div class="additional_cover features_block">
    <div class="header">
      <h1>Sort: Best Match</h1>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 48 48"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="4"
          d="M36 18L24 30L12 18"
        />
      </svg>
    </div>
  </div>
</div>
